<!DOCTYPE html>
<!---
hi
               *%%%%%&%/
         %#  (#%%%%%%%%%%%&.
         ,(#*,,,,,,,,,****,
      ,%#,/(.............,,,**,
    #%%%*,*(,...............,,,*,
  /####/**/#*.................,,**
 /#####***(#*,.................,,**,
 #####(/*(##/,.................,,***,
 #####///#(#/*,,..............,,,,***
 ####((((###/**,,,,,,,,,,,,,,,,,,,****
 .###(((#(((//**,,,,,,,,,,,,,,,,******
  *##(((//((//****,,,,,,,,,,*******//*
   (((. *//////*****************/////*
   ..    *////////*********//////////,
          .*///////////////////((((//
            .///(((((((((((((((((((/
               *//(((((((((#####((/
                   *//((((((((((//

by John Provencher & Laurel Schwulst

--->

<html lang="en">

<head>
    <title>Fruitful School</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/style.css?20210611">

    <!-- Tags for social media links -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://fruitful.school">
    <meta property="og:title" content="Fruitful School">
    <meta property="og:image" content="https://fruitful.school/images/giovanni_stanchi_scattered_flowers_and_fruit_on_a_ledge_1_medium.jpg">
    <meta property="og:description" content="fruitful.school is an independently-run learning initiative for making 'fruitful websites' founded in 2020 by Laurel Schwulst and John Provencher and is dedicated to exploring new ways of publishing together using the www. For our Fall 2020 workshop, participants will hang out and work together online to self-publish a piece to the www over the course of 6 weeks.">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:url" content="https://fruitful.school">
    <meta name="twitter:title" content="Fruitful School">
    <link rel="icon" type="image/png" href="images/fav.png" />
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-52650052-6"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'UA-52650052-6');
    </script>
</head>

<body>

    <header>
        <!-- <section id="loader"></section> -->
        <p class="small">
            <!-- Applications due December 20 for Winter 2021 session
            <a href="#" class="button apply">Apply now</a> -->
        </p>
         <div class="dark-switch m small button" role="dark-mode-toggle" aria-hidden="true">☀</div>
    </header>

    <main>

        <!-- SECTION: APPLY -->
        <section id="apply" style="display:none" class="medium" style="margin-bottom: 3.25em;">
          <iframe class="airtable-embed" src="https://airtable.com/embed/shrO3N1sYlOVy603r?backgroundColor=green" frameborder="0" onmousewheel="" width="100%" height="533" style="background: transparent; border: 0; max-width: 882px; margin: 1em auto; border-radius: 20px;"></iframe>
            <div class="small ">
                <a  class="button" href="https://airtable.com/shrO3N1sYlOVy603r" target="_blank">application link</a>
            </div>
            <div class="small">
                <a href="#" class="apply button" href="https://airtable.com/shrO3N1sYlOVy603r" target="_blank">close</a>
            </div>
        </section>

        <h1 class="extralarge">
            fruitful.school
        </h1>

        <nav id="main">
            <ul>
                <li>
                    <a class="about topnav current" href="#about">
                        <span class="fruit"><span aria-hidden="true">🍊</span></span>
                        <span class="section small">About</span>
                    </a>
                </li>
                <li>
                    <a class="fruitful topnav" href="#fruitful">
                        <span class="fruit"><span aria-hidden="true">🍋</span></span>
                        <span class="section small">Classes</span>
                    </a>
                </li>
                <li>
                    <a class="people topnav" href="#people">
                        <span class="fruit"><span aria-hidden="true">🍒</span></span>
                        <span class="section small">People</span>
                    </a>
                </li>
                <li>
                    <a class="faq topnav" href="#faq">
                        <span class="fruit"><span aria-hidden="true">🍇</span></span>
                        <span class="section small">FAQ</span>
                    </a>
                </li>
                <li>
                    <a class="conduct topnav" href="#conduct">
                        <span class="fruit"><span aria-hidden="true">🍐</span></span>
                        <span class="section small">conduct</span>
                    </a>
                </li>
                <!-- <li>
                    <a class="blog topnav" href="blog/index.html">
                        <span class="fruit"></span>
                        <span class="section small">blog</span>
                    </a>
                </li> -->
            </ul>
        </nav>

        <div id="info">

            <!-- SECTION: ABOUT -->
            <section id="about" class="medium toggle">
                <h2 class="hidden">About</h2>
                <p>
                    <span aria-hidden="true">🍊</span> fruitful.school is an independently-run learning initiative for making “fruitful websites” founded in 2020 by Laurel Schwulst and John Provencher.
                </p>

                <p>
                    <span aria-hidden="true">🍊</span> fruitful.school is dedicated to exploring new ways of publishing together using the www.
                </p>

                <p>
                    <span aria-hidden="true">🍊</span> For our Winter 2021 workshop, participants will hang out and work together online to self-publish a piece to the www over the course of 6 weeks.
                </p>
            </section>

            <!-- SECTION: FRUITFUL -->
            <section id="fruitful" class="medium toggle">
                <h2 class="hidden">Classes</h2>
                <p>
                  <span aria-hidden="true"></span> Asdf
                </p>
            </section>

            <!-- SECTION: PEOPLE -->
            <section id="people" class="medium toggle">
                <h2 class="hidden">People</h2>
                <p>
                    <span aria-hidden="true">🍒</span> <a href="http://johnprovencher.com">John Provencher</a> is a graphic designer and developer. He publishes work through his practice <a href="http://work.haha.services/">haha.services</a> while teaching at The New School. Recently, he made a <a href="https://left.gallery/work/new-sun">screensaver</a>.
                </p>
                <p>
                    <span aria-hidden="true">🍒</span> <a href="http://laurelschwulst.com/">Laurel Schwulst</a> has been making websites since the year 2000. Her design practice is called <a href="http://beautiful-company.com">Beautiful Company</a>, and she has <a href="http://veryinteractive.net/classes">taught</a> at Yale, Princeton, Rutgers, and California College of the Arts. She also created ambient travel app <a href="http://flightsimulator.soft.works">Flight Simulator</a>.
                </p>

                <table id="people-table" align="center" class="medium" style="margin-top: 2em;">
                   <thead>
                        <tr>
                            <th style="text-align:center">Fruit</th>
                            <th>Name</th>
                            <th class="m">ID</th>
                            <!-- <th class="m">Link</th> -->
                        </tr>
                    </thead>

                    <tr class="person" v-for="record in records" v-bind:class="fruitfulClasses(record)" >

                          <td v-if="record.fields['Link 2 (easter egg)']" class="cellFruit">
                            <a v-bind:href="record.fields['Link 2 (easter egg)']" target="_blank">
                                <span v-if="record.fields['Favorite fruit']"> {{ record.fields['Favorite fruit'][0] }} </span>
                            </a>
                          </td>
                          <td v-else class="cellFruit">
                            <span v-if="record.fields['Favorite fruit']"> {{ record.fields['Favorite fruit'][0] }} </span>
                          </td>
                          <td>
                            {{ record.fields['First name'] }} {{ record.fields['Last name'] }}
                          </td>
                          <td class="m">
                            {{ record.fields['Role'][0] }}
                          </td>
                        <!-- <td v-if="record.fields['Link 1 (visible)']" class="m press">
                            <a v-bind:href="record.fields['Link 1 (visible)']" target="_blank">
                                {{ record.fields['Link 1 (visible)'] }}
                            </a>
                        </td> -->
                        <!-- <td v-else></td> -->
                    </tr>

                  </table>

            </section>

            <!-- SECTION: FAQ -->
            <h2 class="hidden">FAQ</h2>
            <section id="faq" class="medium toggle">
                <p class="press"><span aria-hidden="true">🍇</span> When and where are classes held? <sup class="expand">(+)</sup><sup class="disband" style="display:none">(–)</sup><span class="answer"><br><br>Starting in Fall 2020 and continuing in Winter 2021, the workshop is 100% virtual. It happens wherever you are as long as you have a computer with a stable internet connection. The workshop will run for 6.5 weeks total and will meet synchronously twice a week: Wednesday evenings 7–8pm EST and Sunday afternoons 12–3pm EST. <br><br>Dates for Winter 2021 session: 2.7, 2.10, 2.14, 2.17, 2.21, 2.24, 2.28, 3.3, 3.7, 3.10, 3.14, 3.17, 3.21.</span></p>

                <p class="press"><span aria-hidden="true">🍇</span> Do I need any coding knowledge prior? <sup class="expand">(+)</sup><sup class="disband" style="display:none">(–)</sup><span class="answer"><br><br> No ... and it’s never too late to start! We view learning as a lifelong process, and we are excited to see how your previous experiences will inform what you create.</span></p>

                <p class="press"><span aria-hidden="true">🍇</span> What's Fruitful School’s approach to remote learning during the global pandemic? <sup class="expand">(+)</sup><sup class="disband" style="display:none">(–)</sup><span class="answer"><br><br> With care, optimism, and realness.<br><br>

                        We think it is up to us (the students, teachers, and guests of Fruitful School) to accept that the pandemic and remote learning is hard but also as an opportunity to be a portal to some new world. we are truly living and breathing the medium (websites!) in new and important ways with more people around the world.
                        <br><br>

                        We also want to continue to remember that we’re in a public health crisis. Let’s be empathetic to each other since none of us are truly "ok." We want to cultivate a caring, understanding, and supportive learning environment.<br><br>

                        We'll be limiting prolonged screen time in the workship itself. We'll be splitting up our meetings into two shorter sessions that re-occur weekly for 6 weeks. We'll be providing just as much synchronous work as asynchronous work. See you with your fruit and water ( stay hydrated! )</span></p>


                <p class="press"><span aria-hidden="true">🍇</span> What will we do during each synchronous session? <sup class="expand">(+)</sup><sup class="disband" style="display:none">(–)</sup><span class="answer"><br><br> Lectures, discussions, demos/exercises, class workshopping and guidance.</span></p>

                <p class="press"><span aria-hidden="true">🍇</span> What will be provided for asynchronous time? <sup class="expand">(+)</sup><sup class="disband" style="display:none">(–)</sup><span class="answer"><br><br> references, links, videos, readings and more!</span></p>

                <p class="press"><span aria-hidden="true">🍇</span> How much does it cost? <sup class="expand">(+)</sup><sup class="disband" style="display:none">(–)</sup><span class="answer"><br><br> $1,500 — note there are no scholarships this winter 2021 session left, but in future sessions we hope to have some half-priced spots</span></p>

                <p class="press"><span aria-hidden="true">🍇</span> Why does the workshop cost money? <sup class="expand">(+)</sup><sup class="disband" style="display:none">(–)</sup><span class="answer"><br><br>

                        We're interested in building a sustainable school — one that can continue over the years.<br><br>

                        We have  dreams for Fruitful School to be a place for many different ways to learn beyond the workshop. In the future, we would like to grant more people access to our materials — both free and paid versions. By taking a workshop, you support us to continue Fruitful School.

                    </span></p>

                <p class="press"><span aria-hidden="true">🍇</span> Will there be future workshops? <sup class="expand">(+)</sup><sup class="disband" style="display:none">(–)</sup><span class="answer"><br><br> Yes. Subscribe for more updates.</span></p>

                <p class="press"><span aria-hidden="true">🍇</span> Will there be other ways to get involved? <sup class="expand">(+)</sup><sup class="disband" style="display:none">(–)</sup><span class="answer"><br><br> We're currently working on ways for people to get involved outside the workshop. We'll be making guides for our asynchronous learning materials. Think “class without the class” — a digital publication you can follow at your own pace.<br><br>

                        We are currently working on the guides. Subscribe for updates.</span></p>

                <p class="press"><span aria-hidden="true">🍇</span> Why did you start this school? <sup class="expand">(+)</sup><sup class="disband" style="display:none">(–)</sup><span class="answer"><br><br> We love talking about, teaching and making websites! We’re hoping this can be a home to cultivate new ways of publishing to the www.<br><br>

                        We think this skill is even more needed than ever before. We are excited the workshop can be more accessible to those around the world through remote learning.
            </section>

            <!-- SECTION: CONDUCT -->
            <section id="conduct" class="medium toggle">
                <h2 class="hidden">Conduct</h2>
                <p>
                    <span aria-hidden="true">🍐</span> Since we all come from different backgrounds and want to create a safe and open environment for collaboration, we've created a code of conduct to better interact with each other as students and teachers.
                </p>
                <div class="box">

                    <b>Fruitful School’s Code of Conduct</b><br><br>

                    <span aria-hidden="true">🍐</span> <i>As we talk to each other at Fruitful School, we are:</i>
                    <ul>
                        <li>open and free</li>
                        <li>suspending judgement</li>
                        <li>not afraid to share an honest opinion or risky idea</li>
                        <li>building on each other’s ideas</li>
                        <li>sharing often while respecting others’ time to share</li>
                        <li>always trying to help each other create their best work</li>
                    </ul>

                        <span aria-hidden="true">🍐</span> <i>we do not tolerate:</i>
                    <ul>
                        <li>sexist, racist, homophobic, transphobic, ableist, religious discrimination or otherwise discriminatory actions</li>
                        <li>violence in any form</li>
                        <li>unwelcome physical contact or hostile attention</li>
                        <li>deliberate intimidation or stalking</li>
                        <li>advocating for, or encouraging, any of the above behavior</li>
                    </ul>

                        <span aria-hidden="true">🍐</span> <i>As we present our work, we:</i>
                    <ul>
                        <li>communicate in a clear and concise manner</li>
                        <li>describe where we’re at in the process</li>
                        <li>don't self deprecate our own work</li>
                        <li>leave lots of room for others to speak</li>
                    </ul>

                        <span aria-hidden="true">🍐</span> <i>When we offer feedback to others during critique, we:</i>
                    <ul>
                        <li>first…</li>
                        <ul>
                            <li>state the facts</li>
                            <li>describe what you see</li>
                            <li>describe what you hear</li>
                        </ul>
                        <li>after…</li>
                        <ul>
                            <li>describe how *YOU* feel</li>
                            <li>share any associations…</li>
                        </ul>
                    </ul>
                </div>

                <p>
                    <span aria-hidden="true">🍐</span> our code of conduct is a work in progress. it was inspired by others and continues to evolve through use. see <a href="https://fruitful.school/blog/2020-01-15.html">original blog post</a> for more info.
                </p>
            </section>

        </div>

        <!-- SECTION: CLASSES -->
        <section id="classes">
            <h2 class="extralarge">Winter 2024 — Classes</h2>

            <div id="offerings" class="medium">

                <div class="offering active">
                    <h3>NPC Artist
                        &nbsp;&nbsp;
                    </h3>
                    <p>
                        <div class="button-container">
                            <a href="#" class="button small">Apply</a> <a href="#" class="button small">More Info</a>
                        </div>
                        <!-- <div class="button-container">
                            <a href="https://airtable.com/shrO3N1sYlOVy603r" class="button small" target="_blank">Apply</a>
                        </div> -->
                    </p>
                </div>

                <div class="offering active">
                  <h3>Ultralight
                      &nbsp;&nbsp;
                  </h3>
                  <p>
                      <div class="button-container">
                          <a href="#" class="button small">Apply</a> <a href="#" class="button small">More Info</a>
                      </div>
                      <!-- <div class="button-container">
                          <a href="https://airtable.com/shrO3N1sYlOVy603r" class="button small" target="_blank">Apply</a>
                      </div> -->
                  </p>
              </div>

            </div>
                

        </section>

        <!-- SECTION: BLOG -->
        <h2 class="extralarge">Winter 2024 — About</h2>

        <p>Letter goes here!!!</p>

        <a href="blog/index.html" class="button small">Visit Our Blog Home</a>


    </main>

    <hr class="hidden">

    <footer>
        <div id="fruit" aria-hidden="true">
            <div id="clock" class="extralarge">
                <span id="hours" aria-hidden="true">🍋</span> :
                <span id="minutes" aria-hidden="true">🍋</span> :
                <span id="seconds" aria-hidden="true">🍋</span>
            </div>
        </div>
        <br>
        <div class="small"><span style="font-size:14px"><span class="no-style">©</span>𝒻𝓇𝓊𝒾𝓉𝒻𝓊𝓁.𝓈𝒸𝒽𝑜𝑜𝓁</span><br><br>
            <a href="mailto: support@fruitful.school">support@fruitful.school</a><br><br>
            <a href="https://tinyletter.com/fruitful-school">newsletter</a><br><br>
            <a href="https://www.are.na/period-odbbkmamzrm">are.na</a><br><br>
            <a href="https://www.instagram.com/fruitful.school">IG</a><br><br><br>
            <!-- <a href="about-this-site.html">About this Site</a><br><br><br> -->
         <div class="dark-switch d small button" role="dark-mode-toggle" aria-hidden="true">☀</div>
        </div>

    </footer>

    <script src="js/jquery.js"></script>
    <script src="js/jquery.tablesorter.min.js"></script>
    <script src="js/darklight.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.5/vue.min.js"></script>
    <script src="js/index.js"></script>

    <script>

    /* airtable vue */

    Vue.config.devtools = true;

    var apiURL = "https://api.airtable.com/v0/appqXzKPJH35X5rp1/People?api_key=keyTeRltpx9W8Qwjd";
    app = new Vue({
      el: '#people-table',
      data: {
        records: null,
        timer: null
      },
      created: function () {
        this.fetchData();
      },
      beforeDestroy: function() {
        clearInterval(this.timer)
      },
      methods: {
        fruitfulClasses: function(record) {
          return {
          }
        },
        fetchData: function () {
          var xhr = new XMLHttpRequest()
          var self = this
          xhr.open('GET', apiURL)
          xhr.onload = function () {
            self.records = JSON.parse(xhr.responseText).records
            console.log("Fetched data.");
          }
          xhr.send()
        }
      }
    })

    </script>

</body>

</html>
