* { box-sizing: border-box; }

:root{
	--grey: rgb(200 200 200);
}
body {
	font-size: 1em;
	line-height: 1.25em;
	margin: 0;
	padding: 0;
	font-size: 17px;
	line-height: 24px;
	background: #e0e0e0;
	background: #FFFFF2;
	font-family: 'SF Pro Display','-apple-system','BlinkMacSystemFont','San Francisco','Helvetica Neue','Helvetica','Ubuntu','Roboto','Noto','Segoe UI','Arial',sans-serif;
	text-transform: lowercase;
	padding-bottom: 3em;
}

main {
	margin: 0 auto;
	max-width: 50em;
	padding: 0 1em;
	margin-bottom: 2.5em;
	max-width: 500px;
}
ol {
	padding: 0;
	padding-left: 1em;
}

h1 {
    /* margin-bottom: 2.5em; */
    line-height: 1.15;
}
h2 {
    font-size: 1em;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    padding-bottom: 0.25em;
    margin-top: 5em;
}
main {
    margin-bottom: 10em;
}
section{
	max-width: 1400px;
	width: 80%;
	margin: auto;
}

details{
	margin-top: 3em;
}


ol li {
	padding-left: 1em;
	margin: 0;
	margin-bottom: 1.5em;
}
ol li:first-of-type {
	margin-top: 0;
}
li {
	margin: 1.5em 0;
}
li::marker {
	margin-right: 1em;
}
figure {
	margin: 0;
	padding: 0;
	margin-top: 1em;
}
img {
	max-width: 100%;
	display: block;
}
h1, h2, h3 {
	font-weight: normal;
}
h1 {
	margin-bottom: 0.5em;
	margin-top: 0;
	padding: 1.5em 0 0;
}
h2 {
	font-size: 1.25em;
}
h3 {
	font-size: 1em;
	border-bottom: 1px solid rgba(0,0,0,0.2);
	padding-bottom: 0.25em;
	margin-bottom: 1em;
	margin-top: 5em;
}

th{
  text-align: left;
  font-weight: normal;
  border-bottom: 1px solid var(--grey);
}
td, th{
  padding: 0.5em;
  vertical-align: top;
}
td{
  text-transform: none;
  width: 25%;
}
td:first-child, th:first-child{
  padding-left: 0;
}

/* span {
	background: white;
} */
hr {
	border: 0;
	margin: 0;
	height: 2em;
	/* margin: 1.5em 0 2.5em; */
}
/* hr:after {
	position: absolute;
	content: "* * *";
	color: black;
} */
.gray {
	opacity: 0.5;
}
a {
	color: black;
}
code{
	text-transform: none;
}
