body {
  margin: 0;
}

.letter-container {
  margin: 18px;
}

#background {
  background:url('../imgs/watermelon-painting-crop.jpg');
  background-size: cover;
  background-position: center bottom;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.content {
  margin: 0 auto 1rem auto;
  max-width: 60rem;
}

.letter {
  margin-top: 8em;
}

.letter .post-title {
  color: black;
  text-shadow: none;
  top: -2.5em;
}

#back {
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 14px;
}

#back a {
  color: black;
  text-decoration: none;
}

footer {
  font-size: 12px;
  text-align: center;
}

footer .inside {
  display: block;
  background: rgba(255,255,255,0.25);
  background: #DFA12E;
  background: #77746d;
  background: #77746d;
  /* background: transparent; */
  /* opacity: 0.75; */
  /* border-radius: 24px; */
  padding: 24px;
  padding-top: 36px;
  padding-bottom: 42px;
  position: relative;
}

footer .inside::after {
  content: "";
  position: absolute;
  display: block;
  right: 0;
  left: 0;
  top: -30px;
  height: 30px;
  width: 100%;
  background: -webkit-linear-gradient(top, rgba(255, 255, 0, 0), #77746d);
  background: -o-linear-gradient(bottom, rgba(255, 255, 0, 0), #77746d);
  background: -moz-linear-gradient(bottom, rgba(255, 255, 0, 0), #77746d);
  background: linear-gradient(to bottom, rgba(255, 255, 0, 0), #77746d);
}

footer a {
  color: black;
}

footer span {
  display: inline-block;
}

@media only screen and (max-width: 700px) {
	#container {
		margin: 0 10px;
	}
}
