body {
    background: #000000;
    color: #A0A0A0;
}

a {
    color: #A0A0A0;
}

a.button {
    border-color: #998f8f;
    border-right-color: #48433A;
    border-bottom-color: #48433A;
}

a.button:focus,
a.button:active {
    background: #2C271E;
}

.extralarge {
    color: #A0A0A0;
    text-shadow: #5c5a53 0 -1px 0;
}

.portal {
    display: inline-block;
    margin: 2.5em 0 1em;
    width: 440px;
    height: 142px;
    border-radius: 25px;
    background: url('../images/giovanni_stanchi_scattered_flowers_and_fruit_on_a_ledge_1_small.jpg');
    background-size: 100% 100%;
}

/* .portal {
    width: 440px;
    height: 142px;
    background: url('../images/giovanni_stanchi_scattered_flowers_and_fruit_on_a_ledge_2_small.jpg');
    background-size: 100% 100%;
}  */

nav#main a span.fruit {
    border: 2px solid #48433A;
    border-top-color: #998f8f;
    border-left-color: #998f8f;
}

nav#main a.current span.fruit {
    border: 2px solid #998f8f;
    border-top-color: #48433A;
    border-left-color: #48433A;
    background: #2C271E;
}