@font-face {
    font-family: "Trattatello";
    src: url('../fonts/trattatello.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #77746D;
    font-family: serif;
    margin: 10px 20px;
}

img {
    max-width: 100%;
}

a {
    color: black;
}

figure {
    margin: 2em 0;
}

hr {
    margin: 2.5em 0;
}

a.button,
.button {
    text-decoration: none;
    border-radius: 5px;
    padding: 8px 13px 7px;
    border: 2px solid #5c5a53;
    border-top-color: rgb(163, 154, 143);
    border-left-color: rgb(163, 154, 143);
    display: inline-block;
    margin: 1em .5em;
}

a.button:focus,
a.button:active,
a.button.pressed {
    border: 2px solid rgb(163, 154, 143);
    border-top-color: #5c5a53;
    border-left-color: #5c5a53;
    background: #6F6C64;
}

header,
main {
    text-align: center;
}

.dark-switch {
    cursor: pointer;
    position: absolute;
    top: 22px;
    right: 20px;
}

.small,
th {
    font-family: "Helvetica", sans-serif;
    font-size: 12px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
}

.small {
    margin: 0;
}

.blog-portal {
    position: absolute;
    top: 10px;
    right: 20px;
}

.medium,
table {
    font-family: "Times New Roman", serif;
    font-size: 22px;
    letter-spacing: .3px;
}

.extralarge {
    font-family: "Trattatello", cursive;
    font-size: 5em;
    color: #5c5a53;
    text-shadow: rgb(163, 154, 143) 1px 2px 0;
    text-transform: lowercase;
    letter-spacing: 0;
}

h1.extralarge {
    font-weight: normal;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}

h1.extralarge a {
    color: #5c5a53;
    text-shadow: rgb(163, 154, 143) 1px 2px 0;
}

h2.extralarge {
    font-weight: normal;
    margin-top: .6em;
    margin-bottom: 0.4em;
}

.portal {
    display: inline-block;
    margin: 1em 0;
    width: 440px;
    height: 142px;
    border-radius: 25px;
    background: url('../images/giovanni_stanchi_scattered_flowers_and_fruit_on_a_ledge_1_small.jpg');
    background-size: 100% 100%;
}

nav#main ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav#main li {
    display: inline-block;
    margin: 0;
    margin-top: 0.5em;
}


nav#main a {
    text-decoration: none;
}

nav#main a span.fruit {

    display: inline-block;

    height: 105px;
    width: 105px;
    font-size: 3.9em;
    border-radius: 20px;

    border: 2px solid #5c5a53;
    border-top-color: rgb(163, 154, 143);
    border-left-color: rgb(163, 154, 143);
    margin: 0 8px;

    display: flex;
    align-items: center;
    justify-content: center;

}

/* nav#main a.blog {
    position: absolute;
    top: 10px;
    right: 10px;
} */

nav#main a.blog span.fruit {
    background: url('../images/giovanni_stanchi_scattered_flowers_and_fruit_on_a_ledge_1_small.jpg');
    background-size: auto 100%;
    background-position-x: center;
    border-radius: 50%;
    border-color: #998f8f;
    border-right-color: #48433A;
    border-bottom-color: #48433A;
}

nav#main a.blog:active span.fruit,
nav#main a.blog:focus span.fruit {
    border-color: #48433A;
    border-right-color: #998f8f;
    border-bottom-color: #998f8f;
}


.toggle {
    display: none;
    display: none;
}

nav#main a.current span.fruit {
    border: 2px solid rgb(163, 154, 143);
    border-top-color: #5c5a53;
    border-left-color: #5c5a53;
    background: #6F6C64;
}


nav#main span.section {
    display: block;
    text-align: center;
    margin-top: 1em;
}

span.fruit,
.press {
    transition: background-color 1s ease;
}

span.fruit:hover,
.press:hover {
    background: #6F6C64;
}

section {
    margin-top: 1.75em;
}

.hidden {
    display: none;
}

#info p,
td,
.box {
    text-align: left;
    border-radius: 20px;
    border: 2px solid rgb(163, 154, 143);
    border-top-color: #5c5a53;
    border-left-color: #5c5a53;
    max-width: 588px;
    margin: .5em auto;
    padding: 15px 15px 20px 25px;
    text-transform: lowercase;
}

.box ul {
    margin-bottom: 1.5em;
    padding-left: 1em;
}

.box ul:last-of-type {
    margin-bottom: 0;
}

.box li {
    margin-bottom: 0.35em;
    padding-left: 0.25em;
}

#info .press {
    border: 2px solid rgb(163, 154, 143);
    border-bottom-color: #5c5a53;
    border-right-color: #5c5a53;
    cursor: pointer;
}

h2.hidden {
    display: none;
}

#offerings {
    grid-template-columns: 1fr 1fr 1fr;
    display: grid;
    max-width: 1000px;
    margin: 0 auto;
}

/*
#offerings div.offering:hover   {
        text-shadow: rgb(163, 154, 143) 1px 1px 1px;

    
}

#offerings div.offering:nth-child(1):hover {
    background: url('../images/giovanni_stanchi_scattered_flowers_and_fruit_on_a_ledge_1_small.jpg');
    background-size: auto 330px;
    background-position: 0% 0%;
}

#offerings div.offering:nth-child(2):hover {
    background: url('../images/giovanni_stanchi_scattered_flowers_and_fruit_on_a_ledge_1_small.jpg');
    background-size: auto 330px;
    background-position: -350px 0%;
}
#offerings div.offering:nth-child(3):hover {
    background: url('../images/giovanni_stanchi_scattered_flowers_and_fruit_on_a_ledge_1_small.jpg');
    background-size: auto 330px;
    background-position: -630px 0%;
}
*/
#offerings div.offering {
    border: 2px solid rgb(163, 154, 143);
    border-top-color: #5c5a53;
    border-left-color: #5c5a53;
    background: #6F6C64;
    background-image: url(../test.png);
    background-size: cover;
    background-blend-mode: screen;
    border-radius: 5px;
    margin: .5em 0.5em 0.5em;
    position: relative;
}


svg {
    height: 22px;
}

div.offering.inactive {
    opacity: 1;
}

div.offering.inactive a.button {
    pointer-events: none;
    border-color: #5C5A54;
    border: 2px dotted #5C5A54;
    background: transparent;
}

#offerings h3, b {
            font-family: "Trattatello";
    font-weight: normal;
    
    text-transform: lowercase;
    font-size: 1.25em;
    margin: 0;
    border-bottom: 2px solid #5C5A54;
    padding: 7px 15px 7px 15px;
    position: relative;
}
b {
    border: none;
    padding: 0;
}

#offerings p {
    margin-top: 0;
    margin-bottom: 2em;
    padding: 15px 20px 20px 20px;
    text-align: left;
    text-transform: lowercase;
}

#about {
    display: block;
}

.button-container {
    position: absolute;
    bottom: 1em;
    left: 0;
    right: 0;
}

.button-container a.button {
    /* width: 175px; */
    /* display: inline-block; */
    background: #76746E;
}

.button-container a.button:active,
.button-container a.button:focus {
    background: #6F6C64;
}

footer {
    margin-top: 8em;
    text-align: center;
}

#fruit {
    background-color: #6E6C65;
    display: inline-block;
    transition: 5s border-radius ease;
    border-radius: 100%;
    width: 100%;
    padding: 400px 0;
    font-size: .8em;
    margin-bottom: 50px;
    left: 0;
    border: 2px solid rgb(163, 154, 143);
    border-top-color: #5c5a53;
    border-left-color: #5c5a53;
}

#logo {
    z-index: 1000;
    color: black;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

blockquote.answer,
.answer {
    display: none;
    font-style: italic;
}

/* table container */
table {
    max-width: 100%;
    border-spacing: .5em;
    border-collapse: separate;
}

/* head of table */
thead {
    font-family: helvetica, sans-serif;
}

/* individual elements of the head of table */
th {
    padding: 0px;
}

.cellFruit {
    border-radius: 100%;
    text-align: center;
}

.cellFruit a {
    text-decoration: none;
}


/* individual elements of the body of table */

td {
    border-radius: 5px;
    margin: 10px;
}

td,
th {
    padding: 5px 20px;
    font-weight: 500;
    text-align: left;

}

tr {
    text-align: center;
}

#apply {
    width: 100%;
    z-index: 10001;
}
#apply iframe {
        box-shadow: 10px 10px 50px #000;
    max-width:  95%;

}

body.dark {
    background: #000000;
    color: #A0A0A0;
}

body.dark a {
    color: #A0A0A0;
}

body.dark a.button,
body.dark .button-container a.button {
    border-color: #998f8f;
    border-right-color: #48433A;
    border-bottom-color: #48433A;
    background: transparent;
}

body.dark a.button:focus,
body.dark a.button:active,
.dark-switch.dark {
    background: #2C271E;
    border-color: #998f8f;
    border-left-color: #48433A;
    border-top-color: #48433A;
}

body.dark .extralarge {
    color: #A0A0A0;
    text-shadow: #5c5a53 0 -1px 0;
}

body.dark .portal {
    width: 440px;
    height: 142px;
    background: url('../images/giovanni_stanchi_scattered_flowers_and_fruit_on_a_ledge_2_small.jpg');
    background-size: 100% 100%;
} 

body.dark nav#main a span.fruit {
    border: 2px solid #48433A;
    border-top-color: #998f8f;
    border-left-color: #998f8f;
}

body.dark nav#main a.current span.fruit {
    border: 2px solid #998f8f;
    border-top-color: #48433A;
    border-left-color: #48433A;
    background: #2C271E;
    background: #171513;
}

body.dark #offerings div.offering {
    background: #171513;
}

body.dark #fruit {
    background: #2C271E;
    background: #171513;
}

body.dark svg {
    fill: #A0A0A0;
}

body.dark .previous-posts a:visited.button {
    color: #5E5E5E;
}


@media only screen and (max-width: 800px) {

    #offerings {
        grid-template-columns: inherit;
        display: block;
        max-width: 100%;
    }

    .extralarge {
        font-size: 3.5em;

    }

    h1.extralarge,
    h2.extralarge {
        margin: .5em;
        margin-bottom: 0em;
    }
    
        h2.extralarge {
        margin: .75em;
        margin-bottom: .25em;

    }

    nav#main a span.fruit {

        margin: 8px 4px;
        height: 80px;
        width: 80px;
        font-size: 3em;


    }

    #fruit {
        font-size: .85em;

        padding: 200px 0;

    }

    .m {
        display: none;
    }

    table {
        min-width: 100%;
    }

}


/* BLOG */

.portal,
.portal.light {
    cursor: pointer;
    display: inline-block;
    margin: 2.5em 0 1em;
    width: 440px;
    height: 142px;
    border-radius: 25px;
    border: 2px solid #998f8f;

    border-left-color: #998f8f;
    border-top-color: #998f8f;
    border-right-color: #48433A;
    border-bottom-color: #48433A;
}

.portal:active,
.portal:focus {
    border: 2px solid #998f8f;

    border-left-color: #48433A;
    border-top-color: #48433A;
    border-right-color: #998f8f;
    border-bottom-color: #998f8f;
}

.portal {
    background: url('../images/giovanni_stanchi_scattered_flowers_and_fruit_on_a_ledge_1_small.jpg');
    background-size: 100% 100%;
}

article {
    text-align: left;
    font-size: 2em;
    line-height: 1.4;
    padding: 1.75em 1.75em 1.6em;
    max-width: 25em;
    margin: 4em auto 5em;
    border: 2px solid #998f8f;
    border-left-color: #48433A;
    border-top-color: #48433A;
    border-radius: 20px;
    position: relative;

    font-family: "Times New Roman", serif;
    font-size: 22px;
    letter-spacing: .3px;
    padding: 40px;
    max-width: 700px;

}

article p {
    margin: 1.2em 0;
}

article p:last-of-type {
    margin-bottom: 0 !important;
}

article h2,
article h3 {
    margin-bottom: 1em;
    margin-top: -0.25em;
    font-size: 1.25em;
    line-height: 1.3;
    font-family: 'trattatello', 'normalschrift', 'wiegel-latein', cursive;
}

article h2 {
    font-size: 1.75em;
}

article h3 {
    margin-top: 2em;
    text-decoration: underline;
}

article.letter {
    font-family: 'trattatello', 'normalschrift', 'wiegel-latein', cursive;
}

article p:last-of-type {
    margin-bottom: 0;
}

h2 {
    font-size: 1em;
    font-weight: normal;
}

article a {
    color: #000000;
}

.metadata {
    position: absolute;
    top: -3.5em;
    left: 0;
    right: 0;
    text-align: center;
}

.metadata *,
.metadata a * {
    display: inline-block;
}

.metadata a {
    text-decoration: none;
    color: #000000;
}

.metadata .fruit {
    margin-left: 0.15em;
    font-size: 1.45em;
    vertical-align: -0.1em;
    filter: grayscale(100%);
}

.metadata .fruit:hover {
    background: transparent !important;
}

.metadata .bullet {
    margin: 0 0.5em;
}

h3 {
    font-family: "Trattatello", cursive;
    font-weight: normal;
    font-size: 2em;
}

.metadata time {
    position: absolute;
    left: 18px;
    top: 12px;
}

.metadata .fruit {
    position: absolute;
    right: 18px;
    top: 10px;
}

footer.blog {
    margin-top: 6em;
    padding: 1em;
    text-align: center;
}

footer.blog img {
    border-radius: 50%;
    border: 2px solid #998f8f;
    border-right-color: #48433A;
    border-bottom-color: #48433A;
    cursor: pointer;
}

footer.blog img:active,
footer.blog img:focus {
    border: 2px solid #998f8f;
    border-left-color: #48433A;
    border-top-color: #48433A;
}

.previous-posts a:visited.button {
    color: #2d2c2a;
}

@media only screen and (max-width: 800px) {

    article {
        padding: 26px 24px;
        line-height: 1.3;
    }

    article h2 {
        margin-top: 0;
    }

}